[Desktop Entry]
Name=Store
Name[et]=Pood
Name[nl]=Opslaan
Name[pl]=Sklep
Name[pt]=Armazém
Name[pt_BR]=Armazém
Name[sk]=Uložiť
Name[sv]=Lagring
Name[uk]=Сховище
Name[x-test]=xxStorexx
GenericName=Add Ons
GenericName[es]=Complementos
GenericName[et]=Lisandid
GenericName[nl]=Add-ons
GenericName[pl]=Dodatki
GenericName[pt]=Extensões
GenericName[pt_BR]=Extensões
GenericName[sk]=Doplnky
GenericName[sv]=Tillägg
GenericName[uk]=Додатки
GenericName[x-test]=xxAdd Onsxx
Comment=Content store for Plasma Active
Comment[et]=Plasma Active'i sisupood
Comment[nl]=Opslag voor inhoud van Plasma Active
Comment[pl]=Sklep treści dla Plasma Active
Comment[pt]=Armazém de conteúdos para o Plasma Active
Comment[pt_BR]=Armazém de conteúdos para o Plasma Active
Comment[sk]=Úložisko obsahu pre Plasma Active
Comment[sv]=Innehållslagring för Plasma Aktiv
Comment[uk]=Сховища даних для портативної Плазми
Comment[x-test]=xxContent store for Plasma Activexx
Icon=preferences-desktop-default-applications
Exec=active-addons -graphicssystem raster %u
Terminal=false
Type=Application
Categories=Settings;System;SystemSetup;

