[Desktop Entry]
Name=Add-ons Updater
Name[bs]=Ažuriranje dodataka
Name[da]=Opdatering af tilføjet indhold
Name[de]=Erweiterungen aktualisieren
Name[el]=Οδηγός ενημέρωσης προσθέτων
Name[en_GB]=Add-ons Updater
Name[es]=Actualizador de añadidos
Name[fi]=Lisäosien päivitys
Name[fr]=Mise à jour des modules complémentaires
Name[gl]=Actualizador de complementos
Name[hu]=Kiegészítő frissítő
Name[ia]=Actualisator de add-ons
Name[ko]=추가 기능 업데이터
Name[nl]=Bijwerker van add-on
Name[pl]=Uaktualnianie dodatków
Name[pt]=Actualizador de Extensões
Name[pt_BR]=Atualizador de extensões
Name[sk]=Aktualizátor doplnkov
Name[sv]=Uppdatering av tillägg
Name[uk]=Оновлювач додатків
Name[x-test]=xxAdd-ons Updaterxx
Name[zh_CN]=插件更新
Name[zh_TW]=擴充功能更新器
Comment=Updates downloaded add-on content
Comment[bs]=Sadržaj preuzetih dodataka
Comment[da]=Opdaterer tilføjet indhold du har downloadet
Comment[de]=Aktualisiert heruntergeladene Erweiterungen
Comment[el]=Ενημέρωση περιεχομένου προσθέτων που έχει ληφθεί
Comment[en_GB]=Updates downloaded add-on content
Comment[es]=Actualiza los contenidos de añadidos descargados
Comment[fi]=Päivittää ladattua lisäsisältöä
Comment[fr]=Met à jour les modules complémentaires téléchargés
Comment[gl]=Actualiza os complementos descargados
Comment[hu]=Frissíti a letöltött kiegészítő tartalmat
Comment[ia]=Actualisa contento de add-on discargate
Comment[ko]=다운로드한 추가 기능 콘텐츠 업데이트
Comment[nl]=Inhoud voor add-on gedownload bij bijwerken
Comment[pl]=Uaktualnienia pobrały zawartość dodatku
Comment[pt]=Actualiza os conteúdos de extensões transferidos
Comment[pt_BR]=Atualiza o conteúdo das extensões baixadas
Comment[sk]=Aktualizuje stiahnutý obsah doplnkov
Comment[sv]=Uppdateringar laddade ner tilläggsinnehåll
Comment[uk]=Оновлення отриманих даних додатків
Comment[x-test]=xxUpdates downloaded add-on contentxx
Comment[zh_CN]=升级下载的插件内容
Comment[zh_TW]=更新已下載的擴充功能內容
Exec=active-addons --startpage updates
Icon=preferences-desktop-default-applications
Terminal=false
Type=Application
Hidden=true
Categories=System;SystemSetup;ActiveCore

