[Desktop Entry]
Name=Add Ons
Name[pt]=Extensões
Name[pt_BR]=Extensões
Name[sv]=Tillägg
Name[uk]=Додатки
Name[x-test]=xxAdd Onsxx
GenericName=Add Ons
GenericName[es]=Complementos
GenericName[et]=Lisandid
GenericName[fr]=Modules complémentaires
GenericName[hu]=Kiegészítők
GenericName[km]=បន្ថែម​កម្មវិធី
GenericName[nl]=Add-ons
GenericName[pl]=Dodatki
GenericName[pt]=Extensões
GenericName[pt_BR]=Extensões
GenericName[sk]=Doplnky
GenericName[sv]=Tillägg
GenericName[uk]=Додатки
GenericName[x-test]=xxAdd Onsxx
Comment=Content store for Plasma Active
Comment[et]=Plasma Active'i sisutoodete pood
Comment[fr]=Contient la boutique de Plasma Active
Comment[hu]=Tartalombolt a Plazma Aktívhoz
Comment[km]=មាតិកា​រក្សាទុក​សម្រាប់​ប្លាស្មា​សកម្ម
Comment[nl]=Opslag voor inhoud van Plasma Active
Comment[pl]=Sklep treści dla Plasma Active
Comment[pt]=Armazém de conteúdos para o Plasma Active
Comment[pt_BR]=Armazém de conteúdos para o Plasma Active
Comment[sk]=Úložisko obsahu pre Plasma Active
Comment[sv]=Innehållslagring för Plasma Aktiv
Comment[uk]=Сховища даних для портативної Плазми
Comment[x-test]=xxContent store for Plasma Activexx
Icon=preferences-desktop-default-applications
Exec=active-addons -graphicssystem raster %u
Terminal=false
Type=Application
Categories=Settings;System;SystemSetup;ActiveCore

