[Desktop Entry]
Name=Store
Name[pt]=Armazém
Name[pt_BR]=Armazém
Name[sk]=Uložiť
Name[uk]=Сховище
Name[x-test]=xxStorexx
GenericName=Add Ons
GenericName[pt]=Extensões
GenericName[pt_BR]=Extensões
GenericName[sk]=Doplnky
GenericName[uk]=Додатки
GenericName[x-test]=xxAdd Onsxx
Comment=Content store for Plasma Active
Comment[pt]=Armazém de conteúdos para o Plasma Active
Comment[pt_BR]=Armazém de conteúdos para o Plasma Active
Comment[sk]=Úložisko obsahu pre Plasma Active
Comment[uk]=Сховища даних для портативної Плазми
Comment[x-test]=xxContent store for Plasma Activexx
Icon=preferences-desktop-default-applications
Exec=active-addons -graphicssystem raster %u
Terminal=false
Type=Application
Categories=Settings;System;SystemSetup;

