[Desktop Entry]
Type=Service
Name=Bodega Content System Updater
Name[bs]=Ažuriranje sadržaja za Bodega
Name[da]=Systemopdatering af Bodega-indhold
Name[de]=Systemaktualisierung von Bodega-Inhalten
Name[el]=Οδηγός ενημέρωσης συστήματος περιεχομένου Bodega
Name[es]=Actualizador del sistema de contenidos de Bodega
Name[fi]=Bodega-sisältöjärjestelmän päivitys
Name[fr]=Mise à jour système du contenu de Bodega
Name[gl]=Actualizador dos contidos de Bodega
Name[hu]=Bodega tartalom rendszerfrissítő
Name[ia]=Bodega Content System Updater (Actualisator de systema de contento Bodega)
Name[ko]=Bodega 콘텐츠 시스템 업데이터
Name[nl]=Programma voor het bijwerken van het inhoudssysteem van Bodega
Name[pl]=Uaktualnienie systemu treści Bodega
Name[pt]=Actualização de Sistema do Conteúdo do Bodega
Name[pt_BR]=Atualização do sistema de conteúdo do Bodega
Name[sk]=Aktualizátor systému obsahu Bodega
Name[sv]=Bodega uppdatering av systeminnehåll
Name[uk]=Засіб оновлення системи керування даними Bodega
Name[x-test]=xxBodega Content System Updaterxx
Name[zh_CN]=Bodega 内容系统升级工具
Name[zh_TW]=Bodega 內容系統更新器
Comment=Checks for update to content installed using the Bodega content system
Comment[bs]=Provjerava nadogradnje sadržaja koristeći Bodega sistem za sadržaj
Comment[da]=Tjekker for opdatering af indhold som er installeret med indholdssystemet Bodega
Comment[de]=Sucht nach Aktualisierungen für Inhalte, die mit dem Bodega-System heruntergeladen wurden
Comment[el]=Έλεγχος για ενημέρωση του περιεχομένου που έχει εγκατασταθεί με το σύστημα περιεχομένου Bodega
Comment[es]=Comprueba si hay actualizaciones del contenido instalado usando el sistema de contenidos de Bodega
Comment[fi]=Tarkistaa päivitykset Bodega-sisältöjärjestelmän välityksellä asennettuun sisältöön
Comment[fr]=Vérifie s'il existe des mises à jour pour le contenu installé dans le système de contenu de Bodega
Comment[gl]=Comproba as actualizacións dos contidos usando o sistema de contidos Bodega
Comment[hu]=Ellenőrzi a telepített tartalmak frissítéseit a Bodega tartalomrendszer használatával
Comment[ia]=Verifica actualisationes de contento installate per usar le systema de contento Bodega
Comment[ko]=Bodega 콘텐츠 시스템으로 설치한 항목의 업데이트를 확인합니다.
Comment[nl]=Controleert of het inhoudssysteem van Bodega moet worden bijgewerkt
Comment[pl]=Sprawdzaj uaktualnienia treści zainstalowanych przy użyciu systemu treści Bodega
Comment[pt]=Procura por actualizações no conteúdo instalado com o sistema Bodega
Comment[pt_BR]=Procura por atualizações usando o sistema de conteúdo do Bodega
Comment[sk]=Skontroluje aktualizácie obsahu nainštalovaného pomocou systému obsahu Bodega
Comment[sv]=Tittar efter uppdatering av innehåll installerat med Bodega innehållssystem
Comment[uk]=Пошук оновлень даних, встановлених за допомогою системи керування даними Bodega
Comment[x-test]=xxChecks for update to content installed using the Bodega content systemxx
Comment[zh_CN]=检查用 Bodega 内容系统安装的内容是否有更新
Comment[zh_TW]=檢查 Bodega 內容系統已安裝的內容是否有更新
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=bodegaupdater
X-KDE-DBus-ModuleName=bodegaupdater
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
