[Desktop Entry]
Name=primavera
Name[cs]=primavera
Name[da]=primavera
Name[el]=primavera
Name[es]=primavera
Name[et]=primavera
Name[fr]=primavera
Name[ga]=primavera
Name[gl]=primavera
Name[hu]=primavera
Name[ia]=primavera
Name[km]=primavera
Name[nl]=primavera
Name[pl]=primavera
Name[pt]=primavera
Name[pt_BR]=primavera
Name[ro]=primavera
Name[sk]=primavera
Name[sv]=primavera
Name[uk]=primavera
Name[x-test]=xxprimaveraxx
Name[zh_TW]=primavera
Icon=preferences-desktop-default-applications
Exec=primavera -graphicssystem raster %u
Terminal=false
Type=Application
Hidden=true
Categories=Settings;System;SystemSetup;
