[Desktop Entry]
Name=primavera
Name[cs]=primavera
Name[nl]=primavera
Name[pt]=primavera
Name[pt_BR]=primavera
Name[sk]=primavera
Name[uk]=primavera
Name[x-test]=xxprimaveraxx
Icon=preferences-desktop-default-applications
Exec=primavera -graphicssystem raster %u
Terminal=false
Type=Application
Hidden=true
Categories=Settings;System;SystemSetup;
