[Desktop Entry]
Name=File browser
Name[cs]=Prohlížeč souborů
Name[da]=Filbrowser
Name[et]=Failibrauser
Name[hu]=Fájlböngésző
Name[nl]=Bestandsbrowser
Name[pt]=Navegador de ficheiros
Name[pt_BR]=Navegador de arquivos
Name[sk]=Prehliadač súborov
Name[sv]=Filbläddrare
Name[uk]=Керування файлами
Name[x-test]=xxFile browserxx
Encoding=UTF-8
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=com.coherenttheory.store
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Network services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/main.qml
